<div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <mat-horizontal-stepper [linear]="isLinear">
        <mat-step [stepControl]="personalInfoForm">
            <ng-template matStepLabel>Personal Info</ng-template>
            <app-personal-info [personalInfoForm]="personalInfoForm"></app-personal-info>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step [stepControl]="contactInfoForm">
            <ng-template matStepLabel>Contact Info</ng-template>
            <app-contact-info  [contactInfoForm]="contactInfoForm"></app-contact-info>
            <button mat-button matStepperNext>Back</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done!</ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<div class="modal-footer">
    <button mat-raised-button class="pull-left" aria-label="Close" (click)="bsModalRef.hide()">Close</button>
</div>
